html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding:0;
}
      
p {
  margin-left: 12px;
  font-size: 1.2em;
  width: 50%; 
}

#canvas {
  margin-left: 10px;
  margin-top: 10px;
  border: 1px solid black;
}

#chatCanvas {
  position: absolute;
  left: 410px;
  top: 10px;
}